* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    border: 1px solid #c8c8c8;

}

.app {
    padding: 1%;
    width: 100%;
    background: #616fa5;
    margin-top: 3%;
    border: none;
}
.app .top:after {
    content: '';
    clear: both;
    display: block;
}
.app .phrases-container {
    width: 69%;
    height: 550px;
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    float: left;

}
.app .phrases-container .phrases {
    line-height: 1em;
    padding: 10px;
}
.app .users {
    width: 14%;
    height: 550px;
    margin-left: 1%;
    background: #fff;
    border: 1px solid #ccc;
    float: left;
    padding: 1%;
}
.app .channels {
    width: 14%;
    height: 550px;
    margin-left: 1%;
    background: #fff;
    border: 1px solid #ccc;
    float: left;
    padding: 1%;
}
.app .channels .channel {
    width: 98%;
    background: #eee;
    padding: 2px 5px;
    margin-bottom: 2%;
    cursor: pointer;
    transition: all 0.2s ease-in;
    overflow: hidden;
}
.app .channels .channel:hover, .app .channels .channel.current {
    background: #616fa5;
}
.app .channels .channel.current {
    cursor: default;
}
.app .input {
    margin-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}
.app .input form {
    width: 100%;
}
.app .input input {
    width: 80%;
    padding: 8px;
}

.app .input input:focus {
    border-color: #339933;

}

ul {
    list-style-type: none;
}

.app .input button {
    width: 16%;
    margin-left: 2%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}
.app .users,
.app .channels,
.app .phrases-container,
input,
.channel,
#joinchannel,
#leaveChannel{
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
     border-radius: 10px;
}

.channels input{
    margin-bottom: 5px;
    width: 98%;
}

.app .chat-message {
    margin-left: 20px;
    list-style-type: none;
}

.app .chat-message i,
.users i{
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

.app .chat-message i {
    position: absolute;
}

.users i {
    margin-left: -35%;
    margin-bottom: 1%;
}

.users span {
    margin-left: 5%;
}

#messageArea .event-message {
    width: 100%;
    text-align: center;
    clear: both;
    list-style-type: none;
}

#messageArea .event-message p {
    color: #178cbe;
    font-size: 14px;
    word-wrap: break-word;
}

.modal-body .btn {
    width: 100%;
    margin: 2%;
}

#createChannel {
    padding: 2%;
    width: 90%;
    margin-bottom: 5px;
    background-color: #dddddd;
}

li i img.img-circle {
    display: block;
    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

li span {
    color: #178cbe;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

body div[role="navigation"] {
    height: 40px;
    background: #616fa5;
}

strong {
    color: white;
}